@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2d3440;
  margin: 0;
  background-color: #feafc3;
}

.blue-body {
  background-color: #69a9ff;
}

.yellow-body {
  background-color: #fcc850;
}

.main-index {
  flex: 1 0 auto;
}

.wrap-container {
  width: 1170px;
  margin: 0 auto;
}


/* Titles */

.slider-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
}


.main-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0 0 56px 0;
}



.title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0 0 16px 0;
}

.catalog-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
  margin-top: 16px;
}


/* Кнопки */

.main-button {
  display: inline-block;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 12px 32px;
  margin-left: -1px;
  text-decoration: none;
  max-width: 400px;
  color: #2d3440;
  background-color: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  cursor: pointer;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #fcfcfc;
}

.main-button:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #2d3440;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.main-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  border: 4px solid #fcfcfc;
}

.main-button:disabled {
  background-color: #e7e7e7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
}


.red-button {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 12px 32px;
  margin-left: -1px;
  color: #fcfcfc;
  background: #ff2f64;
  border: 4px solid #feafc3;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}


.red-button:hover {
  color: #2d3440;
  background: #fcfcfc;
  border: 4px solid #ff2f64;
}

.red-button:focus {
  background: #ff2f64;
  outline: 2px solid #2d3440;
  outline-offset: -2px;
  border: 4px solid #ff2f64;
  color: #fcfcfc;
}

.red-button:active {
  color: #fcfcfc;
  background: #feafc3;
  outline: 2px solid #2d3440;
  outline-offset: -2px;
  border: 4px solid #feafc3;
}

.red-button:disabled {
  background-color: #b9b9b9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
}

/* Inputs */

.common-input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #b9b9b9;
}

.common-input {
  padding: 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 103%;
  font-weight: 400;
  color: #2D3440;
  background-color: #fcfcfc;
  box-sizing: border-box;
}

.common-input:hover {
  border: 1px solid #2d3440;
}

.common-input:focus {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.common-input:invalid:not(:placeholder-shown) {
  border: 1px solid #ea5454;
}

.common-input:invalid:not(:placeholder-shown):hover {
  outline: 2px solid #ea5454;
  outline-offset: -2px;
}

.common-input:disabled {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
}


/* MENU */
.main-menu {
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px 0;
  z-index: 50;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-logo {
  display: block;
  margin-right: 17px;
}


.navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  position: relative;
  list-style: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.navigation {
  max-width: 470px;
  justify-content: flex-start;
}

.user-navigation {
  max-width: 545px;
  justify-content: flex-end;
}

.navigation-item > a {
  display: inline-block;
  text-decoration: none;
  color: #2D3440;
  padding: 8px 16px;
  border-radius: 30px;
}


.navigation-item > a:hover {
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-item > a:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.navigation-item > a:active {
  background-color: #fcfcfc;
  outline: none;
}

.navigation-item > .catalog-link {
  position: relative;
  padding-right: 38px;
}


.navigation-item > .catalog-link:hover,
.navigation-item:hover > .catalog-link,
.navigation-item:focus-within > .catalog-link {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.navigation-item > .catalog-link:focus {
  background-color: #ff4a78;
  color: #fcfcfc;
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.navigation-item > .catalog-link:active {
  opacity: 0.6;
  outline: none;
}


.catalog-link::after {
  content: "";
  position: absolute;
  background: url("../images/arrow-black.svg") no-repeat;
  width: 12px;
  height: 7px;
  right: 16px;
  top: 15px;
}


.catalog-link:hover::after,
.catalog-link:focus::after,
.catalog-link:active::after,
.navigation-item:hover > .catalog-link::after,
.navigation-item:focus-within > .catalog-link::after {
  content: "";
  position: absolute;
  background: url("../images/arrow-white.svg") no-repeat;
  width: 12px;
  height: 7px;
  right: 16px;
  top: 15px;
}


.link-tel {
  font-weight: 700;
  display: block;
  max-width: 160px;
  text-decoration: none;
  color: #2d3440;
  padding: 8px 0;
  background: none;
  outline: none;
}

.link-tel:hover {
  color: #fcfcfc;
}

.link-tel:focus {
  color: #fcfcfc;
  opacity: 0.5;
}


.user-search > a,
.user-login > a,
.user-cart > a {
  display: inline-block;
  text-decoration: none;
  color: #2d3440;
  padding: 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}


.user-search > .search-link {
  display: flex;
  margin: 0;
  padding: 11px 10px 10px 11px;
  margin-left: 16px;
}

.user-login > .login-link,
.user-cart > .cart-link {
  position: relative;
  padding-left: 38px;
  margin-left: 16px;
  font-size: 14px;
}

.login-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icon-login.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  left: 16px;
  top: 10px;
}

.login-link:hover:before,
.login-link:active:before,
.login-link:focus:before {
  background-image: url("../images/icon-login-white.svg");
}

.cart-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icon-cart-black.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 11px;
}

.cart-link:hover:before,
.cart-link:active:before,
.cart-link:focus:before {
  background-image: url("../images/icon-cart.svg");
}

.user-search > a:hover,
.user-login > a:hover,
.user-cart > a:hover {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.user-search > a:focus,
.user-login > a:focus,
.user-cart > a:focus {
  background-color: #ff4a78;
  outline: 2px solid #2d3440;
  outline-offset: -2px;
  color: #fcfcfc;
}

.user-search > a:active,
.user-login > a:active,
.user-cart > a:active {
  opacity: 0.6;
  outline: none;
}


.inner-navigation-wrap {
  display: none;
  position: absolute;
  border-top: 21px solid transparent;
  box-sizing: border-box;
  margin-top: -12px;
}

.inner-navigation {
  list-style: none;
  font-size: 14px;
  line-height: 140%;
  padding: 12px 0 8px 0;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  background: #fcfcfc;
}


.navigation-item:hover > .inner-navigation-wrap,
.navigation-item:focus-within > .inner-navigation-wrap {
  display: block;
}


.inner-navigation-item a {
  display: block;
  text-decoration: none;
  color: #2d3440;
  padding: 6px 16px;

}

.inner-navigation-item:first-child a {
  font-weight: 700;
}

.inner-navigation-item div {
  height: 1px;
  background: rgba(185, 185, 185, 1);
  margin: 5px 16px;
}

.inner-navigation-item a:hover {
  background: #ffcbd8;
}

.inner-navigation-item a:focus {
  background: #ff4a78;
  outline: none;
  color: #fcfcfc;
}

.inner-navigation-item a:active {
  background: #ff7799;
  color: #2d3440;
}



/* Search */

.search-popover {
  display: none;
  border-top: 8px solid transparent;
  position: absolute;
  top: 36px;
  left: -160px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  background-clip: padding-box;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.search-input {
  min-width: 324px;
}

.user-search:focus-within .search-popover,
.user-search:hover .search-popover {
  display: block;
}


/* Authorisation */

.login-popover {
  display: none;
  position: absolute;
  left: -119px;
  top: 33px;
  width: 420px;
  box-sizing: border-box;
  padding: 48px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-top: 8px solid transparent;
  background-clip: padding-box;
}

.login-title {
  margin-bottom: 32px;
}

.login-input {
  width: 324px;
  margin-bottom: 16px;
}

.input-password {
  width: 324px;
  margin-bottom: 16px;
}

.input-password::placeholder {
  font-size: 30px;
  font-weight: 700;
  transform: translateY(-2px);
  color: black;
}

.login-action {
  display: flex;
  margin-top: 12px;
  margin-left: -2px;
}

.login-links {
  margin-left: 19px;
}

.link-login {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2d3440;
}

.link-login:hover {
  opacity: 70%;
}

.user-login:hover .login-popover,
.user-login:focus-within .login-popover {
  display: block;
}


/* Cart */

.cart-popover {
  display: none;
  position: absolute;
  left: -8px;
  top: 35px;
  padding: 48px;
  background-color: #fcfcfc;
  border-top: 8px solid transparent;
  background-clip: padding-box;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}


.user-cart:hover .cart-popover,
.user-cart:focus-within .cart-popover {
  display: block;

}

.cart-list {
  list-style: none;
  margin: 32px 0;
  padding: 0;
}

.cart-item {
  display: grid;
  width: 345px;
  grid-template-columns: 1fr 92px 14px;
  column-gap: 16px;
  align-items: center;
  margin-top: 24px;
}


.cart-image {
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.cart-form-img {
  transform: scale(0.5);
}

.cart-form-link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.cart-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #2d3440;
  margin: 0;
  padding: 0;
}


.cart-description {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #b9b9b9;
  margin: 0;
  margin-top: 5px;
}


.close-button {
  width: 10px;
  height: 10px;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-order {
  position: relative;
  margin-top: 59px;
  margin-left: -2px;
}

.cart-order::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  top: -29px;
}

.cart-empty {
  display: none;
  position: absolute;
  width: 288px;
  right: 0;
  top: 36px;
  padding: 48px 12px 32px 12px;
  background-color: #fcfcfc;
  border-top: 8px solid transparent;
  box-sizing: border-box;
  background-clip: padding-box;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  text-align: center;
}


/* SLIDER (Hero block) */

.hero-block {
  position: relative;
  padding-left: 70px;
  margin-bottom: 80px;
  margin-top: 21px;
  padding-bottom: 20px;
}

.slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-screen {
  display: none;
}

.active-screen {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-description {
  width: 470px;
  margin: 80px 40px 80px 0;
}

.slider-description p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 44px;
}

.slider-image {
  position: relative;
}

.slider-image::before {
  content: "";
  position: absolute;
  left: calc(50% - 320px/2);
  top: calc(50% - 312px/2);
  width: 327px;
  height: 312px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -10;
}

.slider-control {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.slider-control:hover {
  background-color: #fcfcfc;
}

.slider-control:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  outline: none;
}

.slider-control:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-control:disabled {
  opacity: 0.3;
}

.control-forward {
  right: 279px;
  top: 238px;
  background-image: url("../images/arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(90deg);

}

.control-back {
  left: 527px;
  top: 238px;
  background-image: url("../images/arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(-90deg);
}

.control-forward:hover,
.control-forward:active,
.control-forward:focus {
  background-image: url("../images/arrow-black.svg");
  transform: rotate(-90deg);
}

.control-back:hover,
.control-back:active,
.control-back:focus {
  background-image: url("../images/arrow-black.svg");
  transform: rotate(90deg);
}


.slider-inactive-image {
  position: relative;
  transform: scale(0.3);
  opacity: 0.4;
  width: 150px;
}

.slider-inactive-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 312px/2);
  width: 327px;
  height: 312px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -10;
}


/* Bullets */

.slider-bullets {
  position: absolute;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0;

  left: 0;
  bottom: 0;
  gap: 8px;
}

.bullet {
  width: 12px;
  height: 12px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.active-bullet {
  background-color: #fcfcfc;
}

.bullet:hover {
  border: 2px solid #fcfcfc;
}

.bullet:focus {
  border: 2px solid #2d3440;
  outline: none;
}

.bullet:active {
  border: 2px solid transparent;
}

/* Social Links */

.social-links {
  position: absolute;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  right: 0;
  bottom: 0;
  gap: 16px;
}

.social-item > a {
  outline: none;
}

.social-item > a::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: 1px solid #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
}


.social-item > a:hover::before {
  background-color: #2d3440;
}

.social-item > a:active::before {
  opacity: 70%;
}

.social-item > a:focus::before {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
}

.social-telegram a::before {
  background: url("../images/icon-telegram.svg") no-repeat center center;
}

.social-vk a::before {
  background: url("../images/icon-vk.svg") no-repeat center center;
}

.social-youtube a::before {
  background: url("../images/icon-youtube.svg") no-repeat center center;
}



/* GIFTS */

.gifts-wrap {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}


.gift-article {
  display: flex;
  flex-direction: column;
  background: #ff7799;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 36px 36px 33px 36px;
  box-sizing: border-box;
}

.raspberry-gift {
  background-image: url("../images/gift-raspberry.png");
}

.marshmallow-gift {
  background-image: url("../images/gift-marshmallow.png");

}

.gift-description {
  max-width: 305px;
  flex-grow: 1;
  margin: 0 0 25px 0;
}

.gift-title {
  margin-bottom: 27px;
  max-width: 305px;
}

.gift-button {
  align-self: flex-start;
}

/* Popular cards */

.catalog-container {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  column-gap: 30px;
  row-gap: 40px;
  flex-wrap: wrap;
  list-style: none;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding: 0 40px 24px 40px;
  box-sizing: border-box;
}

.card-link {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
}

.card-image {
  display: flex;
  justify-content: center;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.card-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 51px);
  background: #fcfcfc;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.card-container p {
  margin: 8px 0 16px 0;
  text-align: center;
  flex-grow: 1;
}

.card-order {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.card-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #ff2f64;
  border: 2px solid #ff2f64;
  background-image: url("../images/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

.card-button:hover {
  background-color: #fcfcfc;
  background-image: url("../images/icon-cart-black.svg");
}

.card-button:focus {
  border: 2px solid #2d3440;
  outline: none;
}

.card-button:active {
  background-color: #ffcbd8;
  background-image: url("../images/icon-cart-black.svg");
  border: 2px solid #ff2f64;
}

.card-button:disabled {
  background-color: #b9b9b9;
  background-image: url("../images/icon-cart-black.svg");
  border: 2px solid #b9b9b9;
}


/* ABOUT */

.about {
  background-image: url("../images/background-waffle.jpg");
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}

.about-content {
  background-color: #FFFFFF;
  padding: 56px 40px 56px 40px;
  border-radius: 16px;
}

.about-description-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}

.about-description {
  position: relative;
  max-width: 442px;
  margin: 0;
  padding-left: 64px;
}

.about-description::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.description-icecrem::before {
  background-image: url("../images/icon-icecream.svg");
}

.description-leaf::before {
  background-image: url("../images/icon-leaf.svg");
}

.description-cow::before {
  background-image: url("../images/icon-cow.svg");
}

.description-thermometer::before {
  background-image: url("../images/icon-thermometer.svg");
}

/* BLOG */

.blog {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.blogs-news {
  background-color: #fcfcfc;
  border-radius: 16px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-bottom: 50px;
  background-image: url("../images/background-blogs-news.jpg");
  background-position: right top -73px;
  background-repeat: no-repeat;
}

.blogs-heading {
  font: inherit;
  margin-top: 32px;
  margin-bottom: 12px;
}

.blogs-link {
  text-decoration: none;
  color: #2d3440;
  text-align: left;
}

.blogs-news .title {
  max-width: 303px;
}

.subscribe-wrap {
  background: repeating-linear-gradient(-45deg, #ff4a78, #ff4a78 10px, #e7e7e7 10px, #e7e7e7 30px, #69a9ff 30px, #69a9ff 40px, #e7e7e7 40px, #e7e7e7 60px);
  padding: 6px;
  border-radius: 16px;
  box-sizing: border-box;
}

.subscribe {
  background-color: #fcfcfc;
  padding: 26px;
  border-radius: 16px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe p {
  margin: 0;
  margin-bottom: 42px;
}

.subscribe-email {
  width: 332px;
  margin-right: 10px;
}

.subscribe-email::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #b9b9b9;
}

/* DELIVERY */

.delivery {
  background-image: url("../images/background-delivery.jpg");
  background-repeat: no-repeat;
  background-position: top -180px left -60px;
  padding: 64px 64px 64px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 80px;
  background-color: #e7e7e7;
}

.delivery article {
  max-width: 371px;
}

.delivery-description .main-title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-description p {
  margin: 0;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  background-color: #fcfcfc;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
}

.delivery-form p {
  width: 420px;
  margin: 0;
  margin-bottom: 60px;
}

.field-delivery {
  position: relative;
}

.delivery-form label {
  position: absolute;
  left: 0;
  top: -28px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-right: 4px;
}

.date-delivery {
  position: relative;
  width: 117px;
  margin-right: 16px;
  margin-bottom: 48px;
}

.phone-delivery {
  position: relative;
  width: 287px;
  margin-bottom: 48px;
}

.address-delivery {
  position: relative;
  width: 420px;
  margin-bottom: 27px;
}

.tooltip-link {
  position: absolute;
  width: 13px;
  height: 13px;
  background: url("../images/icon-tooltip.svg") no-repeat center;
  right: -17px;
  top: 3px;
}

.tooltip-link:hover + .tooltip {
  display: block;
}


.tooltip {
  display: none;
  position: absolute;
  top: -6px;
  min-width: 150px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565C66;
  padding: 10px 8px;
  background-color: #fcfcfc;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  z-index: 10;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  left: -6px;
  top: 11px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-radius: 1px;
  transform: rotate(45deg);
}

.tooltip-delivery {
  left: 78px;
}

.tooltip-date {
  left: 66px;
}

/* Contacts */

.contacts {
  background-image: url("../images/backgound-address.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #e7e7e7;
}

.contacts-description {
  background-color: #fcfcfc;
  max-width: 343px;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}


.contacts-description p {
  margin: 0;
  padding: 0;
}

.contacts-description address {
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 24px;
}

.contacts-description a {
  display: block;
  text-decoration: none;
  margin-top: 12px;
}

.contacts-description span {
  display: block;
  font-size: 14px;
  margin-bottom: 28px;
}


/* FOOTER */

.main-footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 45px 0;
}

.footer-social {
  position: relative;
  margin-right: 20px;
}

.footer-docs {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  height: fit-content;
  row-gap: 8px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
}

.footer-docs li {
  line-height: 20px;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.active-footer-link {
  position: relative;
  font-weight: 700;
}

.active-footer-link::before {
  content: "";
  width: 14px;
  height: 12px;
  position: absolute;
  background: url("../images/icon-heart.svg");
  top: 5px;
  left: -20px;
}


.footer-link:hover {
  color: #565C66;
}

.footer-link:active {
  opacity: 70%;
}

.footer-link:focus {
  outline: 2px solid #2d3440;
}


.madein p {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}

.madein p span {
  text-decoration: underline;
}

.madein a:hover {
  opacity: 70%;
}

.madein a:active {
  opacity: 50%;
}


/* CATALOG */

.catalog-main-title {
  text-align: left;
  margin-bottom: 39px;
}

.breadcrums {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 28px;
  margin: 31px 0 16px 0;
}

.breadcrums-item a {
  font-family: "Inter", "Arial", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.breadcrums-item:last-child a {
  text-decoration: underline;
}

.breadcrums-item {
  position: relative;
}

.breadcrums-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../images/icon-quotes.svg");
  width: 7px;
  height: 6px;
  top: 9px;
  right: -18px;
}

.breadcrums-item:hover {
  opacity: 80%;
  cursor: pointer;
}

.breadcrums-item:active {
  opacity: 60%;
}

/* Filters */

.catalog-filters {
  max-width: 825px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 19px;
  margin-bottom: 45px;
}

.catalog-filters fieldset {
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.catalog-filters legend {
  padding: 0 0 0 16px;
  margin-bottom: 8px;
}

.goods-select {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 63px 8px 16px;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
  appearance: none;
  background-image: url("../images/arrow-black.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  cursor: pointer;
}


.price-wrap {
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
}


.price-scale {
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  position: relative;
}

.price-range-bar {
  height: 2px;
  background-color: #2d3440;
  position: absolute;
}

.price-toggle {
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  top: -7px;
  background-color: #fcfcfc;
  border-radius: 50%;
  border: 6px solid #2d3440;
  box-sizing: border-box;
  cursor: pointer;
}

.price-toggle-min {
  left: -8px;
}

.price-toggle-max {
  right: -8px;
}

.price-toggle:hover {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.price-toggle:focus {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.price-toggle:active {
  background-color: #2d3440;
  border: 6px solid #2d3440;
  outline: none;
}


.fat-fields-list {
  display: flex;
  column-gap: 41px;
  list-style: none;
  padding: 8px 24px 8px 48px;
  margin: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
}


.radio-lable {
  position: relative;
}

.radio-lable::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -24px;
  top: 0;
  border: 2px solid #2d3440;
  box-sizing: border-box;
  border-radius: 50%;
}


.radio-lable::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: -19px;
  top: 5px;
  background-position: center;
  background-color: #2d3440;
  border-radius: 10px;
  display: none;
}

.radio-input:checked + .radio-lable::after {
  display: block;
}

.radio-lable:hover::after {
  background-color: #fcfcfc;
}

.radio-lable:hover::before {
  border: 2px solid #fcfcfc;
}

.radio-lable:active::after {
  background-color: #2d3440;
  opacity: 50%;
}

.radio-lable:active::before {
  border: 2px solid #2d3440;
  opacity: 50%;
}



.fill-fields-list {
  display: flex;
  column-gap: 41px;
  list-style: none;
  padding: 8px 24px 8px 48px;
  margin: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
}


.checkbox-lable {
  position: relative;
}

.checkbox-lable::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -24px;
  top: 0;
  background: url("../images/icon-square.svg") no-repeat center;
}

.checkbox-lable:hover::before {
  background: url("../images/icon-square-white.svg") no-repeat center;
}

.checkbox-input:checked + .checkbox-lable::before {
  background: url("../images/icon-square-checked.svg") no-repeat center;
}

.checkbox-input:checked:hover + .checkbox-lable::before {
  background: url("../images/icon-square-checked-white.svg") no-repeat center;
}

.checkbox-lable:active::before {
  background: url("../images/icon-square.svg") no-repeat center;
  opacity: 50%;
}

.checkbox-input:checked:active + .checkbox-lable::before {
  background: url("../images/icon-square-checked.svg") no-repeat center;
  opacity: 50%;
}

.goods-select:hover,
.price-wrap:hover,
.fat-fields-list:hover,
.fill-fields-list:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.goods-select:focus,
.price-wrap:focus-within,
.fat-fields-list:focus-within,
.fill-fields-list:focus-within {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #fcfcfc;
  outline-offset: -2px;
}

.checkbox-input:focus + .checkbox-lable::before {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
}


.filters-button {
  display: inline-block;
  align-self: flex-end;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 7px 52px;
  margin-left: -5px;
  text-decoration: none;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 16px;
  background-clip: padding-box;
  cursor: pointer;
}

.filters-button:hover {
  background-color: #fcfcfc;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.filters-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.filters-button:active {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0.3);
  outline: none;
}


/* Modal Window */

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 50;
}

.modal-window {
  position: relative;
  margin: auto;
  width: 570px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  box-sizing: border-box;
  padding: 64px;
}

.close-modal {
  background: url("../images/icon-close-modal.svg") no-repeat center;
  background-color: #fcfcfc;
  border: none;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 36px;
  right: 36px;
  cursor: pointer;
}

.modal-input {
  width: 442px;
  margin-bottom: 16px;
}

.modal-button {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  margin-right: -3px;
}

.modal-title {
  margin-bottom: 32px;
}

/* Pagination */

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -27px;
  margin-bottom: 80px;
}

.pagination::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.3);
  bottom: -75px;
  left: 0;
}

.pagination-list {
  position: absolute;
  display: flex;
  list-style: none;
  right: 0;
}

.pagination-link {
  position: relative;
  display: block;
  padding-top: 1px;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  box-sizing: border-box;
  background-clip: border-box;
}

.current-page {
  background-color: #fcfcfc;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #2d3440;
  outline-offset: -1px;
}

.pagination-previous {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -5px;
  margin-right: 5px;
  background: url("../images/icon-pagination.svg") no-repeat center;
  transform: rotate(180deg);
  cursor: pointer;
}

.pagination-next {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: -5px;
  border-radius: 50%;
  background: url("../images/icon-pagination.svg") no-repeat center;
  cursor: pointer;
}

.pagination-button {
  margin-top: 2px;
  margin-left: -10px;
}

.inactive-pagination {
  opacity: 0.3;
  cursor: auto;
}

.pagination-previous:hover,
.pagination-next:hover {
  background: url("../images/icon-pagination-white.svg") no-repeat center;
}

.pagination-previous:active,
.pagination-next:active {
  opacity: 0.5;
}

.pagination-previous:focus,
.pagination-next:focus {
  outline: 1px solid #2d3440;
  outline-offset: -1px;
}
